.job-app-div {
  display: flex;
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
}
.left-div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.profile-div {
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.profile-fail-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 100%;
  height: 300px;
}
.profile-fail-btn {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  background-color: #6366f1;
  cursor: pointer;
  border-radius: 5px;
}
.h1 {
  color: #6366f1;
  font-family: 'Roboto';
  font-size: 20px;
}
.job-heading {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  align-self: flex-start;
  margin: 10px;
}
.ul-div {
  width: 100%;
  padding-left: 7px;
}
.hr {
  width: 100%;
  color: #ffffff;
}
.right-div {
  width: 100%;
  min-height: 100vh;
  padding-left: 20px;
  overflow-y: auto;
}
.search-div {
  display: flex;
  background: transparent;
  border: 1px solid #ffffff;
  height: 35px;
  border-radius: 3px;
  width: 50%;
  margin-left: 35px;
}
.search {
  width: 100%;
  border-radius: 3px;
  background: transparent;
  padding-left: 10px;
  border: none;
  height: 100%;
  outline: none;
  color: #ffffff;
  font-size: 13px;
}
.search-icon {
  color: #ffffff;
  width: 30px;
}
.search-btn {
  background: transparent;
  border: none;
  border-left: 1px solid #64748b;
  cursor: pointer;
  outline: none;
}
.jobs-fail-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.jobs-fail-hd {
  color: #ffffff;
  font-family: 'Roboto';
}
.jobs-fail-para {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
}
.jobs-list-ul {
  width: 80%;
}
.mobile-search-div {
  display: none;
}

@media screen and (max-width: 768px) {
  .job-app-div {
    flex-direction: column;
  }
  .left-div {
    width: 90%;
    margin-top: 10px;
  }
  .right-div {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .search-div {
    display: none;
  }
  .jobs-list-ul {
    display: flex;
    flex-direction: column;
    overflow: auto;
    scroll-behavior: smooth;
    padding-left: 0px;
  }
  .mobile-search-div {
    display: block;
    margin-bottom: 20px;
    display: flex;
    background: transparent;
    border: 1px solid #ffffff;
    height: 30px;
    border-radius: 3px;
    width: 90%;
  }
}
